*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(37, 34, 72);
    font-family: Plus Jakarta Sans, Noto Sans, sans-serif;
}
.con{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
}
.sidebar{
    grid-column: 1/3;
    grid-row: 1/11;
    background-color:rgb(25 38 51 / var(--tw-bg-opacity, 1));
        border-right-width: 1px;
}
.main{
    grid-column: 3/11;
    grid-row: 1/11;
}
.drivedash{

}
/* Name and summary section */
.name{
    letter-spacing: -0.025em;
    font-weight: 600;
    font-size: 1.50rem;
    line-height: 2.25rem;
        box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.summary{
    color: rgb(146 173 201);
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 10px;
    font-weight: 400;
    margin-top: 1px;
}
.box{
    height: 150px;
    width: 100%;
    background-color: #e5e7eb;
    gap: 20px;
    border-radius: 10px;
    margin: 10 10 10;

}
